@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    font-family: 'Inter', sans-serif;
    background-color: #f2f2f2;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



h1 {
    font-size: 3em;
    color: #333;
}

form {
    margin-bottom: 30px; 
    display: flex;
    gap: 10px;
    width: 100%;
    max-width: 600px; 
}

form input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    padding: 10px 15px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}



#listaTarefas {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%; 
    max-width: 1200px; 

    display: grid;
    text-align: center;
    text-transform: capitalize;
   
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px; 
}


#listaTarefas li {
    background: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px; 
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05); 
    
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    min-height: 150px;
}

#listaTarefas li strong {
    font-size: 1.2em;
    color: #333;
    display: block; 
    margin-bottom: 10px;
}

#listaTarefas li p {
    font-size: 0.9em;
    color: #666;
    margin-bottom: 15px;
    flex-grow: 1; 
}

#listaTarefas li button {
    background-color: #e74c3c; 
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    align-self: flex-end; 
    transition: background-color 0.2s;
}

#listaTarefas li button:hover {
    background-color: #c0392b; 
}

button:hover {
    color: #000000;
    background-color: white;
    
}